.mainHeading {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: whitesmoke;
}

.mainLabel {
    font-size: 25px;
    color: whitesmoke;
    font-family: cursive;
    font-weight: 500;
}

.mainContainer {
    width: 400px;
    margin: 100px auto 0px auto;
}

.mainForm {
    width: 400px;
    margin: 100px auto 0px auto;
    font-size: 18px;
    border: 3px solid white;
    border-radius: 10px;
}


/* .mainForm :hover {
    color: green;
} */

.FormBox {
    margin: 40px;
}

.mainInput {
    width: 300px;
}

.mainBtn {
    width: 200px;
    padding: 7px;
    font-size: 16px;
    margin: 20px 0px 0px 50px;
    border-radius: 12px;
    color: #111;
}

.ErrorMessage {
    color: red;
    font-size: 15px;
    font-family: cursive;
}

.SucessMessage {
    color: green;
}

#PassMessage {
    color: green;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#FailMessage {
    color: red;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

body {
    background-image: url(../../assets/venom.jpg);
}